<% include partials/header%>


<!-- class="jumbotron"-->
<div class="jumbotron">
 <div class="container">
   <h1 class="display-3">Welcome to myYoutube</h1>
   <p class="lead">This app let you organise your favourite youtube videos with ease.</p>
   <hr class="m-y-md">
   <p>FEATURES</p>
  

   <ul class="list-group">
    <li class="list-group-item">Create an account and manage your own videos</li>
  
    
    <li class="list-group-item list-group-item-primary">Your videos are only visible bt you</li>
    <li class="list-group-item list-group-item-secondary">No more bookmarking</li>
    <li class="list-group-item list-group-item-success">No more funzy adds</li>
  </ul>
 </div>
 </div>

<% include partials/footer%>