<% include partials/header%>

<h1>Add Video Form</h1>

<form action="/videos" method="POST">
  <label>Video Title</label>
  <input type="text" name="title" placeholder="Video Title"/>

  <label>Video Url</label>
  <input type="text" name="url" placeholder="Video Url"/>
  <button>Add</button>
</form>


<% include partials/footer%>