<% include partials/header%>

<!-- class="jumbotron"
<div class="jumbotron">
 <div class="container">
   <h1 class="display-3">Welcome to myYoutube</h1>
   <p class="lead">This app let you organise your favourite youtube videos with ease.</p>
   <hr class="m-y-md">
   <p>FEATURES</p>
  

   <ul class="list-group">
    <li class="list-group-item">Create an account and manage your own videos</li>
  
    
    <li class="list-group-item list-group-item-primary">Your videos are only visible bt you</li>
    <li class="list-group-item list-group-item-secondary">No more bookmarking</li>
    <li class="list-group-item list-group-item-success">No more funzy adds</li>
  </ul>
 </div>
 </div> -->

 
 <div class="ftco-blocks-cover-1" >
    <div class="site-section-cover overlay" style="background-image: url('images/hero_1.jpg')">
      <div class="container" >
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center">
            <h1 class="mb-4 text-white">Welcome to i-Tube</h1>
            <p class="mb-4">i-tube application helps you to save your favourite youtube videos in a secured place. Your saved videos are visible by you only!. No more funzy adds and bookmarking</p>
            <p><a href="/users/login/new" class="btn btn-danger">Get Started</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer%>